@media screen and (max-width: 768px) { 
  /* ===== =====>> Setting Menu Css<<===== ===== */
  .setting {
    top: 0;
  }

  /* ===== =====>> Homepage Section <<===== ===== */
  .homepage .content .box h1 span{
    font-size: 7rem; 
  }

  .homepage .content .box h2{
    font-size: 3rem;
  }
} 

@media screen and (max-width: 550px){
  section .section_header h2 .text1{  
    font-size: 5rem; 
  }
  
  section .section_header h2 .text2{  
    font-size: 8rem;  
  } 
}

@media screen and (max-width: 500px){
   /* ===== =====>> Homepage Section <<===== ===== */ 
  .homepage .content .box ul li{ 
    margin: 1.5rem;
  } 

  .homepage .content .box ul li a{
    font-size: 1.6rem; 
    padding: 1.2rem 2.5rem;
  }

  .homepage .content .box .scrollDownBtn{
    bottom: 5rem;
  }
}

@media screen and (max-width: 450px) { 
  /* ===== =====>> Setting Menu Css<<===== ===== */
  .setting{ 
    top: -10rem;
  }

  /* ===== =====>> Header/Navbar Section <<===== ===== */
  header { 
    background: linear-gradient(90deg,rgba(0,0,0,.9),rgba(0,0,0,.1) 80%);  
  }

  header nav {    
    padding: var(--p-2-5) var(--p-5); 
  } 

  header nav ul li.activeLink::before{
    left: -3rem;
    width: 1.5rem;
  }

  /* ===== =====>> Section Header <<===== ===== */
  section .section_header h1{
    margin-bottom: 1.8rem;
  }

  section .section_header h2 .text1{  
    font-size: 4rem; 
  }
  
  section .section_header h2 .text2{  
    bottom: .8rem;
    font-size: 5.2rem;  
  } 

  /* ===== =====>> Homepage Section <<===== ===== */
  .homepage .content .box h1{
    line-height: 4rem;
    margin-bottom: 1.5rem;
  }

  .homepage .content .box h1 span{
    font-size: 5rem; 
  }

  .homepage .content .box h2{
    font-size: 2.2rem;
    line-height: 3.5rem;
    text-transform: capitalize;
    margin-bottom: 3rem;
  } 

  .homepage .content .box ul{
    line-height: 5rem;
  }

  .homepage .content .box ul li{
    margin: .8rem;
  }

  .homepage .content .box ul li a{
    font-size: 1.4rem; 
    padding: 1rem 1.5rem;
  } 

  section .section_header p {
    width: 85%;
  }

  .about .content .about_me {
    width: 100%;
    font-size: 1.4rem;
    line-height: 1.2;
  }

  .about .mySkills {
    width: 90%;
  }

  .testimonial .content .card .review {
    width: 100%;
  }

  .subscribe_newsletter .content {
    width: 85%;
  }

  .subscribe_newsletter .content form {
    width: 100%;
  }

  section .content {
    width: 80%;
    margin: auto;
  }

  .about .mySkills .skill_container,
  .ourServices .content .serviceCard,
  .portfolio .content .portfolioCard,
  .contact_us .content .contact_form form .input {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }
}
